body{

    background-image: url("https://coolbackgrounds.io/images/backgrounds/compute-83062381.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 1;
}

h1{
    color:wheat;
}